name: fast-checks

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  analyze_test_driver:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/wawapp_driver

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter analyze
        run: flutter analyze --no-fatal-infos


      - name: Flutter test
        run: flutter test
